<html>
<head>
    <title>Some intro :>)</title>
    <link href="animate.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="textillate-master/assets/jquery.lettering.js" rel="stylesheet"></script>
    <script src="textillate-master/jquery.textillate.js"></script>

    <link href="textillate-master/assets/animate.css" rel="stylesheet">
    <link href="magic-master/magic.css" rel="stylesheet">


    <style>



        /*h1{*/
        /*font-size: 80px;*/
        /*}*/

        /*h2{*/
        /*font-size: 80px;*/
        /*}*/

        @media only screen and (min-width: 600px){
            h1{
                font-size: 40px;
            }

            h2{
                font-size: 40px;
            }
        }

        @media only screen and (min-width: 1100px){
            h1{
                font-size:50px;
            }

            h2{
                font-size: 50px;
            }
        }
    </style>


</head>


<body onload="pause();" style="background-color:#6dc9ee">

<img id="bkg2" src="" style="width: 100%; display:none;"/>

<div style="padding-top: 0%; padding-left: 7%;">
    <img id="bkg" src="{{ resourceUrl('/images/c1.png') }}"  class="animated zoomInDown" style= "width: 100%; height:auto;"/>
</div>
<div id="over" style="position:absolute; top: 30px; padding: 50px;">
    <h2 id="tlt2" style="font-size: 75px; color: white; text-shadow: 3px 3px 2px black; padding-top: 10px; padding-left: 150px;" id="txt2" class="animated fadeInLeft overPadding">Good Morning</h2>
    <h2 id="tlt" class="animated fadeInLeft overPadding delay" style="padding-left: 200px; text-align:center; color: white; text-shadow: 3px 3px 2px black;" data-out-effect="fadeOut"></h2>


    <div id="" style="padding-left: 30px;">
        <h1 id="txt4" class="text" style="color: white;"></h1>
        <img id="txt3" style="width: 90%; color: white;"/>

    </div>


    <div style="padding-top: 3%;">

        <img id="cost" class="animated zoomInDown" style="display:none; width: 100%; height:auto;  border: 4px solid #0080c5; border-radius: 25px;" src="{{ resourceUrl('/images/hospital.png') }}"/>
        <img id="success" class="animated fadeInRight" style="display:none;  width: 100%; height:auto;  border: 4px solid #0080c5; border-radius: 65px;" src="{{ resourceUrl('/images/tablet.png') }}"/>
    </div>

    <h1 id="ending" style="font-size: 75px; color: white; text-shadow: 3px 3px 2px black; padding-top: 100px; padding-left: 25%;"></h1>
    <h1 id="ending2" style="font-size: 35px; color: white; text-shadow: 3px 3px 2px black; padding-left: 275px;"><a href="blogClick.twig"></a></h1>
    <a href="blogClick.twig"><img id="ending3" src="{{ resourceUrl('/images/mouse.png') }}" class="animated zoomInDown" style= "width: 80%; padding-left: 45%; height:auto;display:none;"/></a>
    <script>

        function Redirect()
        {
            window.location="index.twig";
        }
        setTimeout('Redirect()', 16000);


        //   setTimeout(function(){

        // $('.tlt').textillate();
        // document.getElementById('tlt').style.display = "block";
        // }, 3000);


        setTimeout(function(){
            document.getElementById('bkg').src = "{{ resourceUrl('/images/c2.png') }}";
        },2000);

        setTimeout(function(){
            document.getElementById('bkg').src = "{{ resourceUrl('/images/c3.png') }}";
        },3000);

        setTimeout(function(){
            document.getElementById('bkg').src = "{{ resourceUrl('/images/c4.png') }}";
            document.getElementById('tlt2').style.paddingTop = "50%";
            document.getElementById("tlt2").innerHTML = ""
        },4000);

        setTimeout(function(){
            document.getElementById("bkg").style.width = "85%";
            document.getElementById("bkg").className = "animated zoomOutUp"
            document.getElementById('tlt').style.display = "none";
            document.getElementById('tlt2').style.display = "none";
            // document.getElementById('bkg').src = "logo.png";
            // document.getElementById('bkg').className = "animated zoomIn";

        }, 5000);

        setTimeout(function(){
            document.getElementById("tlt").style.display = "block";
            document.getElementById("tlt").className = "animated zoomInDown text"
            document.getElementById("tlt").innerHTML = "What will we code today?";
            document.getElementById('tlt').style.paddingTop = "10px";
            document.getElementById('bkg').style.display = "none";
            document.getElementById("bkg2").style.display = "block";
            document.getElementById('bkg2').src="{{ resourceUrl('/images/layout.png') }}";
            document.body.style.backgroundColor = "#0080c5";
            document.getElementById('tlt').style.paddingLeft = "65%";
        },6000);

        setTimeout(function(){
            document.getElementById("tlt").innerHTML = "Will it help the world?";
            document.getElementById('tlt').style.paddingTop = "10%";
            document.getElementById('tlt').style.paddingLeft = "30%";
            document.getElementById("txt4").style.display = "none";
            document.getElementById("txt3").style.display = "none";
            document.getElementById("txt4").style.display = "none";
            document.getElementById('bkg').style.display = "none";
            document.getElementById('bkg2').src = "{{ resourceUrl('/images/hospital.png') }}";
            document.body.style.backgroundColor = "#0080c5";
            document.getElementById('over').style.padding = "0";
        },9000);

        setTimeout(function(){
            document.getElementById("tlt").innerHTML = "Will it look real fun?";
            document.getElementById('tlt').style.paddingTop = "100px";
            document.getElementById('tlt').style.paddingLeft = "50px";
            document.getElementById('bkg2').src = "{{ resourceUrl('/images/tablet.png') }}";
            document.getElementById('over').style.padding = "0";
        }, 11000);

        setTimeout(function(){
            // document.getElementById('bkg').style.display = "block";
            document.getElementById('bkg2').style.display = "none";
            document.getElementById('tlt').style.display = "none";
            document.getElementById("ending").innerHTML = "What will we code today?";
            document.getElementById("ending2").innerHTML = "Click Computer for Cover Letter";
            document.getElementById("ending2").className = "animated zoomInDown"
            document.getElementById("ending3").style.display = "block"
            document.body.style.backgroundColor = "black";
            document.getElementById('cost').style.display = "none";
        }, 14000);


        //https://hvactraining101.com/hvac-career-2/
    </script>

</div>
</body>
</html>
